page {
  height: 100%;
}
.item-detail {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;

  .content {
    background-color: #f9fafc;

    .item-card {
      width: 90%;
      border-radius: 5px;
      margin: 40rpx auto;
      overflow: hidden;
      background-color: #ffffff;
      .item-image {
        width: 100%;
        height: 100%;
      }
      .item-body {
        padding: 26rpx;
        display: flex;

      }
      .item-top-left {
        margin-right: 20rpx;
        .item-name {
          font-size: 40rpx;
          color: #333;
          line-height: 2;
        }

        .item-info-cell {
          padding: 10rpx 0;
          font-size: 24rpx;
          color: #eeeeee;
        }
      }

      .item-top-right {
        display: flex;
        flex-flow: column nowrap;
        .scan-btn {
          width: 60px;
          padding: 30rpx;
          border-radius: 10rpx;
          box-sizing: border-box;
          background-color: #f9fafc;
          color: #888989;
        }

        .navi-btn {
          margin-top: 20rpx;
          display: inline-block;
          padding: 10rpx 12rpx;
          border-radius: 3px;
          background-color: $theme-color;
          color: white;
        }
      }

      .item-bottom {
        padding: 26rpx;
        font-size: 24rpx;
        .state {}
        .full {
          color: red;

        }
      }

      .item-tips {
        padding: 20rpx;
        font-size: 24rpx;
        color: #969797;
        border-top: 1px solid #eeeeee;
      }
    }
  }
}